%h1.font-large.center
  Sign in
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .error
    = devise_error_messages!
  %ul
    %li
      = f.label :name
      = f.text_field :name, autofocus: true, class: "num-form"
    %li
      = f.label :email
      = f.email_field :email, class: "num-form"
    %li
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: "num-form"
    %li 
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: "num-form"

  = f.submit "Create Account", class: 'user-submit-btn'

%p.center or
= link_to "Log in", new_user_session_path, class: "deco_none center"
