= form_for @budget do |f|
  = f.label :price
  = f.number_field :price
  %br

  = f.collection_select :monthly_id, Monthly.all, :id, :start_at
  = f.collection_select :category_id, Category.all, :id, :name

  = f.submit "新規作成"
  %br
  %br
