= form_for @monthly, html: {class:"form"} do |f|
  %ul
    %li
      = f.label :start_at, 'Start day'
      = f.date_field :start_at, value: Time.now.strftime("%Y-%m-%d"), class:"num-form"

    %li
      = f.label :finish_at, 'Finish day'
      = f.date_field :finish_at, value: Time.now.strftime("%Y-%m-%d"), class:"num-form"

    %br
    %br
    カテゴリー別予算
    %br
    %br

    - current_user.categories.each do |category|
      = f.fields_for :budgets do |b|
        %li
          %label
            = category.name
          = b.number_field :price, class:"num-form"
          = b.hidden_field :category_id, value: category.id
          = b.hidden_field :user_id, value: current_user.id

          %br
          %br
    
    = f.submit "SEND", class:"submit-btn"
