= form_for @monthly do |f|
  %br
  = f.label :start_at, '開始日'
  = f.date_field :start_at
  %br
  = f.label :finish_at, '終了日'
  = f.date_field :finish_at
  %br
  %br
  カテゴリー予算
  %br
  - current_user.categories.each do |category|
    = f.fields_for :budgets do |b|
      = category.name
      = b.hidden_field :category_id, value: category.id
      = b.hidden_field :user_id, value: current_user.id
      = b.number_field :price, class:"num_form"
      %br
      %br
      -# = b.collection_select :category_id, current_user.categories, :id, :name
  = f.submit "新規作成"
