%tr.hover
  %td
    = link_to monthly_path(monthly.id), class: "deco_none num" do
      = set_year(monthly.start_at)
      〜
      = set_date(monthly.finish_at)
  %td.num
    = link_to monthly_path(monthly.id), class: "deco_none num" do
      = converting_to_jpy(monthly.budgets.sum(:price))
  %td.num
    = link_to monthly_path(monthly.id), class: "deco_none num" do
      = converting_to_jpy(current_user.posts.where(date: monthly.start_at..monthly.finish_at).sum(:p_price))
    
  -# %td.right
  -#   = link_to "詳細", monthly_path(monthly)
  -# %td.right
  -#   = link_to "編集", edit_monthly_path(monthly)




-# .monthly
-#   %br
-#   期間

  
-#   〜
  
-#   %br
  
  
-#   = link_to "削除", monthly_path(monthly), method: :delete