%tr.hover
  %td
    = link_to monthly_path(monthly.id), class: "deco_none num" do
      = set_year(monthly.start_at)
      〜
      = set_date(monthly.finish_at)
  %td
    = link_to monthly_path(monthly.id), class: "deco_none num" do
      = converting_to_jpy(monthly.budgets.sum(:price))
  %td
    .table-position
      .table-content
        = link_to monthly_path(monthly.id), class: "deco_none num" do
          = converting_to_jpy(current_user.posts.where(date: monthly.start_at..monthly.finish_at).sum(:p_price))
      .table-icon
        = link_to monthly_path(monthly.id), method: :delete, clsaa: "deco_none", id: "icon" do
          = icon("fas", "trash")


      -# 編集のformがうまく行かないため、一旦コメントアウト
      -#   = link_to edit_monthly_path(monthly), clsaa: "deco_none", id: "icon" do
      -#     = icon("fas", "edit")


