%header       
  .hamburger_position
    .hamberger_icon
      %span#hamberger.top
      %span#hamberger.middle
      %span#hamberger.bottom
      //#hambergerは、JS用
    .menu
      .menu__list
        - if user_signed_in?
          .user_name
            Hello！
            = link_to "#{current_user.name}さん", user_path(current_user.id), class: "deco_none"
            %p
              = link_to "TOP", root_path, class: "deco_none"
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "deco_none"
        - else
          .user_name
            Hello! ゲストさん
          .log_in
            %p
              =link_to "ログイン", new_user_session_path, class: "deco_none"
            %p
              = link_to "ユーザーの編集", edit_user_registration_path(current_user), class: "deco_none"
              

        -# = link_to "予算の登録", new_budget_path
        -# = link_to "予算の一覧", budgets_path
        -# = link_to "予算の編集", edit_budget_parh(@budget.id)

        .detail_memu
          %p.title
            Category
          %p.list
            = link_to "登録", new_category_path, class:"deco_none"
            = link_to "リスト", categories_path, class:"deco_none"
            -# = link_to "カテゴリーの編集", edit_budget_parh(@category.id)

        .detail_memu
          %p.title
            Budgets(予算) 
            %p.list
              = link_to "登録", new_monthly_path, class:"deco_none"
              = link_to "リスト", monthlies_path, class:"deco_none"
              -# = link_to "カテゴリーの編集", edit_budget_parh(@category.id)

        .detail_memu
          %p.title
            Post
            %p.list
              = link_to "登録", new_post_path, class:"deco_none"
              = link_to "リスト", posts_path, class:"deco_none"
              -# = link_to "postの編集", edit_post_parh(@post.id)

        .detail_memu
          %p.title
            Tag
            %p.list
              = link_to "登録", new_tag_path, class:"deco_none"
              = link_to "リスト", tags_path, class:"deco_none"
              -# = link_to "タグの編集", edit_post_parh(@tag.id)

              -# = link_to "ユーザーの一覧", users_session_path

        .close-menu
          %span.right
          %span.left
