%tr.hover
  %td
    .table_position
      .table_content
        = link_to tag.name, tag_path(tag.id), class: "deco_none"
      .table_icon
        = link_to edit_tag_path(tag), class: "deco_none icon" do
          = icon("fas", "edit")
        = link_to tag_path(tag), method: :delete, class: "deco_none icon" do
          = icon("fas", "trash")

