.search
  = form_tag(tag_path, method: "get", class:"search-form" ) do
    = label_tag :start_at, "期間で探す", class: "margin_right20"
    = select_tag :start_at, options_for_select(@monthlies.map{|m| m.start_at})
    = submit_tag "Send", class: "submit-btn", data: {id: params[:id]}

.table
  %table
    %tr
      %th.font-small-medium.normal-width
        date
      %th.font-small-medium.normal-width
        category
      %th.font-small-medium.normal-width
        price
      %th.font-small-medium.remaining
        memo
      %th.font-small-medium.table-icon
          
    - @posts.each do |post|
      %tr.hover
        %td.not-protrude
          = post.date
        %td
          = post.category.name
        %td
          = converting_to_jpy(post.p_price)
        %td.remaining
          .not-protrude
            = post.memo
        %td.table-icon
          .table-icon
            = link_to edit_post_path(post), class:"deco_none icon" do
              = icon("fas", "edit")
            = link_to post_path(post), method: :delete, class:"deco_none icon" do
              = icon("fas", "trash")

    %tr
      %th{colspan: "2"}
        合計金額
        
      %th.font-small-medium
        = converting_to_jpy(@sum)
      %th.font-small-medium{colspan: "2"}







-# .search
-#   = form_tag(tag_path, method: "get", class:"search-form" ) do
-#     = label_tag :start_at, "期間で探す", class: "margin_right20"
-#     = select_tag :start_at, options_for_select(@monthlies.map{|m| m.start_at})
-#     = submit_tag "Send", class: "submit-btn", data: {id: params[:id]}

-# .table
-#   %table
-#     %tr
-#       %th.font-small-medium
-#         date
-#       %th.font-small-medium
-#         category
-#       %th.font-small-medium
-#         price
-#       %th.font-small-medium
-#         memo
          
-#     - @posts.each do |post|
-#       %tr.hover
-#         %td
-#           = post.date
-#         %td
-#           = post.category.name
-#         %td
-#           = converting_to_jpy(post.p_price)
-#         %td
-#           .table_position
-#             .table_content
-#               = post.memo
-#             .table-icon
-#               = link_to edit_post_path(post), class:"deco_none icon" do
-#                 = icon("fas", "edit")
-#               = link_to post_path(post), method: :delete, class:"deco_none icon" do
-#                 = icon("fas", "trash")

-#     %tr
-#       %th.font-small-medium{colspan: "2"}
-#         合計金額
        
-#       %th.font-small-medium
-#         = converting_to_jpy(@sum)
-#       %th.font-small-medium

    