= form_for @post do |f|
  = f.label :p_price
  = f.number_field :p_price
  = f.label :memo
  = f.text_field :memo
  = f.collection_check_boxes :tag_ids, Tag.all, :id, :name
  = f.date_field :date
  = f.collection_select :category_id, current_user.categories, :id, :name

  = f.submit "SEND"