%table
  %tr
    %th
      date
    %th
      category
    %th
      price
    %th
      memo
      

  %tr
    %td.font13
      = @post.date
    %td.font13
      = @post.category.name
    %td.font13
      = converting_to_jpy(@post.p_price)
    %td
      .table_position
        .table_content
          = @post.memo
        %br
        .table_icon
          = link_to edit_post_path(@post), class:"deco_none icon" do
            = icon("fas", "edit")
          = link_to post_path(@post), method: :delete, class:"deco_none icon" do
            = icon("fas", "trash")

  
