%table
  %tr
    %th.font-small-medium
      date
    %th.font-small-medium
      category
    %th.font-small-medium
      price
    %th.font-small-medium
      memo
      

  %tr
    %td
      = @post.date
    %td
      = @post.category.name
    %td
      = converting_to_jpy(@post.p_price)
    %td
      .table-position
        .table-content
          = @post.memo
        %br
        .table-icon
          = link_to edit_post_path(@post), class:"deco_none icon" do
            = icon("fas", "edit")
          = link_to post_path(@post), method: :delete, class:"deco_none icon" do
            = icon("fas", "trash")

  
