%tr.hover
  %td
    .table_position
      .table_content
        = category.name
      .table_icon
        = link_to edit_category_path(category), class:"invalid_link_decolation icon" do
          = icon("fas", "edit")
        = link_to category_path(category), method: :delete, class:"invalid_link_decolation icon" do
          = icon("fas", "trash")

