!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Account
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      
      = link_to "家計簿", root_path, class:"header_title"
      .header_info
        .user_name
          こんにちは、#{current_user.name}さん
        .top
          -# =link_to "TOP", root_path
        .log_in
          =link_to "ログイン", new_user_session_path
    %p.notice
      = notice       
    %p.alert
      = alert
    %content
      = yield
