!!!
%html
  %head
    %title Account
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name:"viewport", content:"width=device-width,initial-scale=1.0,minimum-scale:1.0, user-scalable=yes"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -#英数字用フォント Amatic SC
    -# <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet">
    -#日本語用フォントM+ FONTS
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    -#数字用フォント font-family: 'Dancing Script', cursive;
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">



  %body 
    %content
      = render "shared/header.html.haml"
      = alert
      .content
        %p.notice
          = notice       
        %p.alert
        = yield
